:root {
  --color-primary: #fe3e6d;
  --color-light: #eaf7ff;
  --color-gray-off-black: #3b3b3b;
  --color-gray-1: #6b7076;
  --color-gray-3: #dee4e9;
  --color-gray-4: #f0f4f8;
  --color-theme-primary: #fff;
  --color-theme-contrast: #3b3b3b;

  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;

  --font-size-base: 16px;
  --font-size-xs: 0.5rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.6rem;
  --font-size-xl: 2rem;

  --border-radius-pill: 32px;
  --border-radius-input: 16px;
}
