.timelineItemTransactionsWrapper {
  position: relative;
  border: 1px solid var(--color-gray-2);
  border-radius: var(--border-radius-md);
  padding: calc(var(--space-md) * 3) 0;
  margin: var(--space-xl) 0;
}
.timelineItemTransactionsWrapper::before,
.timelineItemTransactionsWrapper::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 1px;
  background-color: var(--color-gray-2);
  left: calc(var(--space-lg) * 2);
}
.timelineItemTransactionsWrapper::before {
  top: calc(var(--space-lg) * -1);
}
.timelineItemTransactionsWrapper::after {
  bottom: calc(var(--space-lg) * -1);
}

.itemRow {
  margin-bottom: calc(var(--space-md) * 3);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 var(--space-lg);
}
.itemRow:last-child {
  margin: 0;
}
.itemIcon {
  margin-right: var(--space-lg);
  display: inline-block;
}

.itemActor {
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-gray-off-black);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 1 / 4;
}
.itemType {
  grid-column: 4 / 7;
}
.itemDateEvent {
  grid-column: 7 / 11;
}
.itemType,
.itemDateEvent {
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-gray-1);
}
.itemAmount {
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-gray-off-black);
  text-align: right;
  grid-column: 11 / 13;
}
.itemAmount::before {
  content: "";
}
.itemAmount.entrance,
.itemAmount.exit {
  font-weight: 900;
}
.itemAmount.entrance {
  color: var(--color-secondary);
}
.itemAmount.entrance::before {
  content: "+ ";
}
.itemAmount.exit {
  color: var(--color-primary);
}
.itemAmount.exit::before {
  content: "- ";
}
.itemAmount.refund {
  text-decoration: line-through;
}
