.timelineItemHeadWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 var(--space-lg);
}
.timelineDate {
  font-size: var(--font-size-sm);
  font-weight: 900;
  color: var(--color-gray-off-black);
}
.timelineTransactionType {
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-gray-1);
}
.timelineTransactionDate {
  font-size: var(--font-size-md);
  font-weight: 900;
  color: var(--color-primary);
}
.timelineValue {
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-gray-1);
}
.timelineAmountTotal {
}
